<div>
  <h1 class="text-center">My Ethos</h1>
  <div class="main">
    <p>After working for 20 years in the corporate world for high profile professionals in a cross section of establishments I am well placed to offer a wealth of experience and understanding for the individual needs of every client; how they each have a unique way of  working and like things done, business requirements and priorities are individual and need a tailored approach.  
    </P>
    <p>My aim is  to provide my clients with an entirely personal approach to solving and delivering their requirements and remaining flexible so they are free to focus on their business obligations.
    </p>
    <p>Whether you need PA assistance for a one off typing assignment or organising a corporate event, arrange travel, find a plumber (that you simply don’t have time for!) or sort out your tiresome expenses, no job is too large or small
    </p>
  </div>
  <div class="text-center">
    <img src="img/ethos_img.jpg" class="img-responsive">
  </div>
  <br>
  </br>
</div>
