<div class="container-fluid">
  <div class="text-center">
    <img src="img/SmallLogo.png" class="img-responsive">
    <h3 class="sub-title">All your Executive Assistant needs in a changing world</h3>
  </div>
</div>
