<div>
  <h1 class="text-center">My Rates</h1>
  <div class="main">
    <p>
      <em><b>Hourly-</b></em> My hourly rate is £25.00.  I track your time and send you a time report with your invoice.
    </p>
    </br>
    <p>
      <em><b>Project Work –</b></em> If you feel you would like to agree a fixed time for a specific project, this can be something we can discuss.
    </p>
    </br>
    <p>
      <em><b>Retainer-</b></em> If you feel happier to pay for a set amount of hours each month to keep to budget, I can keep you aware of how much time is being used and hours can be rolled over to a maximum of 2 a month.
    </p>
    </br>
    <p>
      I work completely virtually and not to set hours, hence I cannot offer services for work that must be done  repetitively at specific times of the day/week.
    </p>
  </div>
  <br>
  </br>
</div>
