<div> 
  <h1 class="text-center">ALL Virtual Assistant Services</h1>
  <div class="text-center sub-heading">
    <p>I offer services across the board as I believe this is the true function of an Executive Assistant and naturally any requirements can be tailor made to your needs.  The following is a cross section of what I offer but not limited to:</p>
  </div>  
  <div class="main-list">
    <ul> 
      <li>
        Document Production; using Microsoft Word and Powerpoint
      </li>
      <li>
        Spreadsheets; updating and creating spreadsheets
      </li>
      <li>
        Event Management; corporate days out; client lunches, parties…
      </li>
      <li>
        Expenses; sifting through and organising those tedious receipts, logging onto a spreadsheet in categories
      </li>
      <li>
        Diary Management; organising your busy day from meetings to complicated travel arrangements and shoehorning in that much needed haircut!
      </li>
      <li>
        Travel Logistics; complex flights for business or leisure (family holidays/trip of a lifetime!); any accommodation and transfer arrangements needed either domestic or overseas, train travel, etc…
      </li>
      <li>
        Email and call handling; periodic dialling into your voicemail to retrieve and prioritise messages and send all details in one concise and clear email.  Monitoring incoming emails to clear the ‘dross’ and flagging urgent messages.  This can be a vital timesaver especially when travelling.
      </li>
      <li>Online Research; needing a bit of market research; the perfect gift; sourcing information; potential customers; vetting potential employees?  Its all takes time, time, time which you just don’t have!
      </li>
      <li>
        Media Management; updating Twitter/facebook, uploading photo’s /updating blogs…
      </li>
      <li>
        Data Entry; CRM data (Customer Relationship Management), business cards; client information; laborious figures…
      </li>
    </ul>
  </div>
  <br>
  </br>
</div>
