<div class="testimonials">
  <h1 class="text-center">Testimonials</h1>
  <div class="first-test">
    <em>
      "This letter is my strong recommendation for Anita Lowe who worked as a personal assistant to me since the inception of Robson Asset Management in 2008 to 2012.
    </em>
    <em>
      During her tenure, Anita was nothing less than efficient. She introduced and implemented processes and systems for the company which helped the efficiency of the head office.  Dedicated and meticulous, Anita was extremely organized professional who was able to maintain a busy schedule and also act as a files administrator as well. She was excellent at arranging executive meetings, making many travel arrangements for both the business and myself personally, and screening all executive correspondence.   She is an expert at handling all manner of reports, presentations and computer applications.
    </em>
    <em>
      She was punctual, organized and able to display great attention to detail. Her ability to learn quickly and achieve any goal provided to her has added tremendous value to me personally and to the company on the whole.
    </em>
    <em>
      The title of Personal Assistant does not properly describe all of Anita’s responsibilities. She was my right hand during her time at Ram."
    </em>
    <br>
    </br>
    <img src="img/jeremy-sig.png" class="img-responsive"/>
    <img src="img/ram.jpg" class="img-responsive ram" />
    <br>
    </br>
    <b>
      Jeremy Robson
    </b>
    <b>
      Managing Director
    </b>
  </div>
  <div class="second-test">
    <em>
      "Anita Lowe was employed as my Personal Assistant from April 2005 to January 2008.   During that time Anita was reliable, diligent and had a great eye for detail. Due to my busy schedule, Anita was often required to work independently, using her own initiative. Anyone working with Anita will enjoy her happy and professional manner."
    </em>
    <br>
    </br>
    <b>
      Chris Allen
      Chief Executive Officer
      HSBC Private Bank
    </b>
    <br>
    </br>
    <img src="img/hsbc.png" class="img-responsive" />
  </div>
  <br>
  </br>
</div>
