.logo {
  width: 10%;
  float: right;
  margin: 0.5% 0% 1% 0%;
  min-height: 100px;
  min-width: 150px;
} 

li {
  margin: 1%;
}

.navbar {
  background-color: #E0E0F8;
  max-height: 15%;
}

.navbar .nav {
  margin-top: 2%;
}

ul {
  width: 70%;
}

.sub-title {
  margin-top: 2%;
  color: #828488;
}

.main {
  margin: 5% 5% 0 5%;
} 

.main-list {
  margin-top: 2%;
  margin-right: 25%;
  margin-left: 35%;
  padding-bottom: 2%;
}

.sub-heading {
  margin: 1% 2% 1% 2%;
}

.first-test {
  float: left;
  width: 45%;
  margin: 2%;
}

.second-test {
  float: left;
  width: 45%;
  margin: 2%
}

.ram {
  max-height: 100px;
  max-width: 300px;
}

.hour {
  float: right;
  max-height: 300px;
  position: relative;
  z-index: 2;
}

.contact {
  position: absolute;
  z-index: 1;
}

footer{
  background-color: #E0E0F8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;
  color: #424558;
}

footer p {
  padding: 10.5px;
  margin: 0px;
  line-height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f7f4f4;
}

h1 {
  color: #293c88;
}
p {
  color: #83858a;
}

li {
  color: #83858a;
}
